
.t-one-header{
    padding-top: 20px;
}
.t-one-header h3{
text-align: center;
}
.header{
    justify-content: space-between;
    display: flex;
}
.header img{
    width: 100px;
    height: 80px;
    border-radius: 50px;
}
.edu-info h4{
    background-color: rgb(110, 111, 112);
    padding: 4px;
}